
.box

  display: block
  padding: 10px
  background-color: $colors.white
  border: 1px solid alpha($colors.grey, 50%)
  box-shadow: 0 2px 3px alpha($colors.black, 10%)


  &-headline
  &-title
    margin: 0
    padding: 0 0 10px 0
    font-size: 14px
    border-bottom: 1px solid darken($colors.white, 10%)


  &-content
    padding: 10px 0
