

.button
.btn

	width: auto
	margin: 4px 0
	padding: 8px 12px
	display: inline-block
	text-align: center
	cursor: pointer
	color: $colors.white
	font-size: 14px
	font-family: 'Roboto', Arial, sans-serif
	text-align: center
	text-decoration: none
	position: relative
	box-shadow: 0 0 5px alpha($colors.black, 10%)
	background-color: $colors.blue
	border: 0
	outline: none
	// background: linear-gradient(top, $colors.white, darken($colors.white, 7.5%))
	transition: all 150ms ease-in-out


	&-featured
		border-color: darken($colors.primary, 15%)
		background: linear-gradient(top, $colors.primary, darken($colors.primary, 15%))


	&:hover
	&.active
		//box-shadow: 0 0 5px alpha($colors.black, 15%)
		//background: linear-gradient(top, $colors.primary, darken($colors.primary, 10%))
		text-decoration: none

		& > a
			color: $colors.white
			text-decoration: none