
.comments

  display: block
  margin: 20px 0
  padding: 30px 50px
  background-color: $colors.white
  border: 1px solid #f0f0f0

  .commentlist

    counter-reset: comment-counter

    & > .comment
      display: block
      margin: 0 0 20px 0
      padding: 20px
      position: relative
      background-color: $colors.white
      border-bottom: 1px solid $colors.lightGrey

      &:before
        content: counter(comment-counter)
        counter-increment: comment-counter
        position: absolute
        right: 10px
        top: 10px
        color: $colors.lightGrey
        font-weight: bold


      .children

        & > .comment
          margin: 0 0 20px 0
          padding: 0 0 20px 20px


      .comment-meta
        clearfix()

      .author-name
        color: $colors.black
        font-size: 18px
        line-height: 48px

      .comment-datetime
        margin: 0 10px
        color: $colors.grey
        font-size: 12px
        line-height: 48px

      .avatar
        width: 48px
        height: 48px
        margin: 0 15px 0 0
        float: left
        border: 1px solid $colors.lightGrey


  .comment-content
    display: block
    margin: 15px 0 0 0
    padding: 20px
    position: relative
    border-radius: 12px
    border: 1px solid darken($colors.lightGrey, 5%)
    background-color: $colors.lightGrey

    &:before
      content: ''
      width: 0
      height: 0
      position: absolute
      left: 15px
      top: -15px
      border-left: 10px solid transparent
      border-right: 10px solid transparent
      border-bottom: 15px solid $colors.lightGrey


  .comment-actions
    display: block
    text-align: right

  .comment-reply-link
  .comment-edit-link
    color: $colors.blue
    font-size: 12px



  .comment-respond
    margin: 20px 0
    background-color: $colors.white

    .comment-reply-title
      margin: 0 0 10px 0

    .comment-form-comment

    label
      margin: 10px 0 0 0
      display: block
      font-size: 13px



  .form-submit
    margin-top: 20px

  .wp-editor-container
    margin: 20px 0
    border: 1px solid $colors.black
