.feedback

  display: block
  z-index: 100
  position: fixed
  right: -30px
  top: 50%

  cursor: pointer
  color: $colors.white
  text-transform: uppercase
  background-color: $colors.blue

  width: 120px
  height: 60px
  line-height: 60px
  transform: rotate(-90deg)

  &:hover
    background: $colors.red
