
.footermenu
  height: 54px
  text-align: center
  background: #f9f9f9


  ul
    margin: 0 auto
    font-size: 0
    list-style: none

  .menu-item
    display: inline-block
    text-align: center

    a
      padding: 0 15px
      display: block
      color: $colors.black
      font-size: 12px
      line-height: 54px
      transition: all 150ms ease-in-out

      &:hover
        color: $colors.blue
        text-decoration: none
        background-color: #fff

    &.current_page_item
      a
        color: $colors.blue
        text-decoration: none
        background-color: #fff
