
.socials
	margin: 0 0 30px 0
	display: flex
	
	li
		margin: 0
		
		a
			width: auto
			margin-left: 10px
			color: #808080
			display: block
			font-size: 32px
			transition: unquote($settings.transition)
			

		&.facebook:hover
			
			& > a
				color: $socials.facebook
				
		&.twitter:hover
			
			& > a
				color: $socials.twitter
		
		&.pinterest:hover
			
			& > a
				color: $socials.pinterest
			
