
.teaser-list
	width: 100%
	display: block

	.teaser-list-item
		width: 46%
		margin: 2%
		float: left
		background: $colors.white
		border: 1px solid #f0f0f0

		.article-category
			display: block
			padding: 15px 0 5px 0
			color: #b0b0b0
			font-size: 14px
			text-align: center

		.article-title
			display: block
			height: 80px
			padding: 0 20px
			color: $colors.black
			font-size: 22px
			text-align: center

			&:hover
				color: $colors.blue

		.article-date
			display: block
			color: #b0b0b0
			text-align: center
