
$input
  width: 100%
  max-width: 320px
  max-height: 120px
  padding: 8px 12px
  display: block
  font-size: 14px
  font-family: sans-serif
  background-color: $colors.white
  border: 1px solid $colors.lightGrey
  border-radius: 0
  -webkit-appearance: none
