global-reset()

@import 'nib'

// @require '../css/normalize.css'
// @require '../css/font-awesome/font-awesome.css'

// global styles
@require 'framework/_reset'
@require 'framework/_mixins'
@require 'framework/_grid'

// global app styling
@require 'app/_settings'
@require 'app/_global'
//@require 'app/_animation'
@require 'app/_page'
@require 'app/_header'
@require 'app/_main'
@require 'app/_footer'
//@require 'app/_section'


/*
@require 'app/form/_mixins'
@require 'app/form/_form'
@require 'app/form/_input'
@require 'app/form/_select'
@require 'app/form/_submit'
*/

// individual components
/*@require 'app/components/_button'
@require 'app/components/_category'
@require 'app/components/_comments'
@require 'app/components/_feedback'
@require 'app/components/_mainmenu'
@require 'app/components/_modal'
@require 'app/components/_footermenu'
@require 'app/components/_article-list'
@require 'app/components/_post-list'
@require 'app/components/_lightbox'
@require 'app/components/_pagination'
@require 'app/components/_quote'
@require 'app/components/_stickybox'*/

//@require 'app/components/_historical-events'
//@require 'app/components/_teaser-list'
// sidebar
//@require 'app/_sidebar'


// article page
@require 'app/article/_header'
//@require 'app/article/_image'
@require 'app/article/_content'
@require 'app/article/_main'
//@require 'app/article/_footer'
//@require 'app/article/_author'
//@require 'app/article/_comments'
//@require 'app/article/_related-posts'
//@require 'app/article/_vote'



@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

@require 'app/interactive/_article-teasers'
@require 'app/interactive/_map'
@require 'app/interactive/_timeline'

// tag page
//@require 'app/tag/_index'
