.article-main
  display: flex
  flex-direction: row-reverse
  background-color: #ffffff
  border: 1px solid #f0f0f0
  border-top: 0

  .article-content
    width: 70%
    margin: 0
    padding: 25px 50px
    font-family: serif
    font-size: 18px
    line-height: 165%
