
.article-related-posts
  clearfix()
  margin: 20px 0
  background-color: $colors.white

  .post-list

    & > li

      &.active a
        color: $colors.grey

      & > a

        padding: 5px 0
        display: block

      img
        width: 32px
        height: 32px
        margin: 0 10px 0 0
        display: inline-block
        vertical-align: middle
