
.article-sidebar
  width: 30%
  padding: 25px 25px

.article-facts
  width: 100%
  display: block
  padding-left: 50px
  border-left: 1px solid #e0e0e0

.key-facts
  display: block

  &__item
    padding-bottom: 10px
    margin-bottom: 10px

  &__title
    display: block
    font-family: 'Montserrat', Arial;
    font-size: 24px
    font-weight: 100

  &__text
    display: block
    font-size: 12px
