
.filter-list
  display: flex
  margin: 20px 0
  
  &__item
    margin-right: 25px
    color: #808488
    cursor: pointer
    font-family: 'Noto Sans', Arial, sans-serif
    font-size: 13px

    &--is-active
    &:hover
      color: #404040