
.filter-list
  display: flex
  margin: 20px 0
  
  &__item
    @extends $fontBaseStyle
    margin-right: 25px
    color: #808488
    cursor: pointer
    
    &--is-active
    &:hover
      color: #404040