



/*

.interactivemap
  width: 100%
  z-index: 10000
  position: absolute
  top: 0
  left: 0
  */

.map-views
  z-index: 10000
  position: absolute
  top: 10px
  right: 10px

  .button
    min-width: 32px
    height: 32px
    display: inline-block
    padding: 0 8px
    color: #333
    cursor: pointer
    text-align: center
    line-height: 32px
    background: #fff
    border-radius: 2px
    border: 1px solid #808080

    &.is-active
      box-shadow: inset 0 0 4px #000


.map-legend
  z-index: 10000
  position: absolute
  left: 10px
  bottom: 10px
  background: alpha(#fff, 0.8)

  .dataset
    padding: 4px 6px
    display: block
    font-size: 10px

    span 
      width: 16px
      height: 3px
      margin-right: 5px
      display: inline-block
      vertical-align: middle



.moving-marker
  background-color: #fff
  border: 1px solid #606060



.map__country
  stroke-width: 1px
  stroke-opacity: 0.5
  fill-opacity: 0.5





.animated-icon
  width: 16px
  height: 16px
  border-radius: 50%
  border: 1px solid #c0c0c0
  box-shadow: 0px 0px 1px #909090
  transition: all 500ms
  background: $colors.white url('../img/santa1.jpg') no-repeat center center
  background-size: 80%


#map-interactive
  width: 100%
  height: 420px
  display: block
  position: relative
  overflow: hidden


.map-leaflet
.map-globe
  width: 100%
  height: 100%
  display: block
  z-index: 2
  position: relative
  background: #c0c0c0

  &:before
  &:after
    content: ''
    width: 100%
    height: 4px
    display: block
    box-shadow: inset 0 0 10px alpha($colors.black, 0.25)
    z-index: 10000
    position: absolute
    left: 0
    top: 0

  &:after
    top: auto
    bottom: 0



path.leaflet-interactive
  //stroke: black
  //stroke-dasharray: 12 8
  // stroke: red
  stroke-width: 2px




.line-path
  fill: none
  stroke-width: 4px
  pointer-events: all

  &:hover
    stroke-width: 10px


.layer-globe
  display: none
  width: 100%
  height: 100%
  z-index: 1000
  overflow: hidden
  position: fixed
  left: 0
  top: 0
  background-color: $colors.black
  border: 1px solid #d0d0d0
  box-shadow: 0 0 10px alpha($colors.black, 0.25)

  &--is-visible
    display: block



.image-overlay
  opacity: 0.2
  z-index: 100000
  position: absolute
  top: 0
  left: 0



// svg globe definition
.land
  fill: #444
  fill-opacity: 0.25


.country
  fill: #15830B
  stroke: #fff
  stroke-width: 0.5px
  stroke-opacity: 0.25



.mapicon-event
  background: steelblue
  border-radius: 50%
  border: 1px solid #fff


.route-path
.route-path2
  fill: none
  stroke: steelblue
  stroke-width: 1.5px
  stroke-linejoin: round
  //stroke-dasharray: 6px 4px

.route-path3
  fill: #909090

.equator
  fill: none
  stroke: $colors.black
  stroke-width: 1px
  stroke-opacity: 0.5
  stroke-dasharray: 6px 2px


#defs {
  width: 0;
  height: 0;
  position: absolute;
}

.frame {
  fill: none;
  pointer-events: all;
}

.graticule {
  fill: none;
  stroke: #666;
  stroke-width: .2px;
}


.area {
  fill-opacity: 0.8;
}
.area:hover {
  fill-opacity: 1.0;
}

.feature {
  fill: #f0f0f0;
  stroke: #666;
  stroke-width: .5px;
  transition: fill 100ms ease-in-out
}

.feature:hover {
  stroke: steelblue;
  stroke-width: 2px;
}


.circle {
  fill: #f0f0f0;
  stroke: #909090;
}


.globe {
  stroke: rgba(255, 255, 255, .5);
  stroke-width: .25px;
}

.star {
  fill: #fff;
  stroke: rgba(255, 255, 255, .5);
  stroke-width: .25px;
}



.globe-button
  font-weight: bold
  text-align: center
  line-height: 24px
  z-index: 1000
  color: $colors.red
  cursor: pointer
  position: absolute
  z-index: 10000
  left: 10px
  bottom: 10px
  border: 1px solid #a0a0a0
  background-color: $colors.white

  &:hover
    background-color: darken($colors.white, 0.50)


.axis line
.axis path
  fill: none
  stroke: #000
  shape-rendering: crispEdges

.axis .domain
  stroke-width: 2px

.axis text
  font: 10px sans-serif
