
.article-header-group
  display: flex
  justify-content: space-between
  align-items: flex-end

  li
    font-size: 26px
  
    span
      font-size: 20px
      font-family: 'Montserrat'
      font-weight: 100


.page-title
  margin: 20px 0 0 0
  display: block

  .subtitle
    display: block
    padding: 0 0 5px 0
    color: #b9b6b3
    font-size: 12px
    font-weight: 100
    letter-spacing: 1px

  .title
    display: block
    padding: 0
    color: #282828
    font-size: 32px