
.header
	clearfix()
	width: 100%
	max-width: $page.width
	margin: 0 auto
	padding: 10px 50px
	position: relative
	background-color: $colors.white


	.page-title
		margin: 0 auto
		padding: 0
		float: left
		color: $colors.black
		background: $colors.white

	.page-name
		font-family: 'Vollkorn', serif
		font-size: 32px
		font-weight: bold

		.poli
			color: $colors.black

		.thema
			color: $colors.blue

	.page-slogan
		display: block
		font-size: 14px
		font-weight: 100

	a
		color: $colors.black
		text-decoration: none


.header-menu
	float: right

	li
		padding: 0 5px
		display: inline-block
		font-size: 0
		line-height: 40px
		a
			font-size: 12px



.header-datetime
	float: right
	color: $colors.grey
	font-size: 12px
	line-height: 53px
