
.main
	clearfix()
	width: 100%
	// max-width: $page.width
	margin: 0 auto
	display: block
	position: relative
	background-color: #f5f6f7

.content
	max-width: 1160px
	margin: 0 auto
	padding: 10px 0
